# Importar Biblioteca

In [2]:
import pandas as pd
import duckdb
import sqlite3

# Listar tabelas do SQLite

In [7]:
# Conectar ao banco de dados SQLite (cria o banco se não existir)
conn = sqlite3.connect('../dados/filmes.db')
cursor = conn.cursor()

query = "SELECT name FROM sqlite_master WHERE type='table';"
resultado = cursor.execute(query).fetchall()
print(resultado)

conn.close()

[('filmes_imdb',), ('filmes_imdb_pd',), ('countries',), ('filmes_countries',), ('directors',), ('filmes_directors',), ('filmes',), ('genres',), ('filmes_genres',), ('languages',), ('filmes_languages',), ('locations',), ('stars',), ('writers',), ('filmes_writers',), ('filmes_stars',), ('filmes_locations',)]

# Variaveis de Configuração

Vamos importar o arquivo csv do kaggle

In [2]:
nome_arquivo = '../csv/final_dataset.csv'

In [7]:
conexao = duckdb.connect('../dados/filme_duckdb.db')

# Listar todas as tabelas do BD

In [ ]:
query = " SHOW TABLES "
resultado = conexao.execute(query).fetchall()
print(resultado)

[('countries',), ('directors',), ('filmes_imdb',), ('genres',), ('languages',), ('locations',), ('stars',), ('writers',)]

# Listar dados originais

In [ ]:
# Importando o arquivo CSV e salvando na tabela

query = 'SELECT * FROM filmes_imdb LIMIT 5;'

In [20]:
dados = conexao.execute(query).fetchall()
print(dados)

[('tt0073195', 'Jaws', 'https://www.imdb.com/title/tt0073195', 1975, '2h 4m', 'PG', 8.1, '683K', 7000000.0, 477220580.0, 266567580.0, 7061513.0, "['Steven Spielberg']", "['Peter Benchley', 'Carl Gottlieb']", "['Roy Scheider', 'Robert Shaw', 'Richard Dreyfuss']", "['Monster Horror', 'Sea Adventure', 'Survival', 'Adventure', 'Drama', 'Horror', 'Thriller']", "['United States']", '["Water Street, Edgartown, Martha\'s Vineyard, Massachusetts, USA"]', "['Zanuck/Brown Productions', 'Universal Pictures']", "['English']", 0, 20, 0), ('tt0073629', 'The Rocky Horror Picture Show', 'https://www.imdb.com/title/tt0073629', 1975, '1h 40m', 'R', 7.4, '173K', 1200000.0, 115798478.0, 112892319.0, None, "['Jim Sharman']", '["Richard O\'Brien", \'Jim Sharman\']', "['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']", "['Dark Comedy', 'Raunchy Comedy', 'Rock Musical', 'Supernatural Horror', 'Comedy', 'Horror', 'Musical']", "['United Kingdom', 'United States']", "['Oakley Court, Windsor Road, Oakley Green, Windsor, Berkshire, England, UK']", "['Twentieth Century Fox', 'Michael White Productions']", "['English']", 0, 4, 0), ('tt0073486', "One Flew Over the Cuckoo's Nest", 'https://www.imdb.com/title/tt0073486', 1975, '2h 13m', 'R', 8.7, '1.1M', 3000000.0, 109115366.0, 108981275.0, None, "['Milos Forman']", "['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']", "['Jack Nicholson', 'Louise Fletcher', 'Michael Berryman']", "['Medical Drama', 'Psychological Drama', 'Drama']", "['United States']", "['Oregon State Mental Hospital - 2600 Center Street NE, Salem, Oregon, USA']", "['Fantasy Films', 'N.V. Zvaluw']", "['English']", 0, 15, 0), ('tt0072890', 'Dog Day Afternoon', 'https://www.imdb.com/title/tt0072890', 1975, '2h 5m', 'R', 8.0, '279K', 1800000.0, 50002721.0, 50000000.0, None, "['Sidney Lumet']", "['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']", "['Al Pacino', 'John Cazale', 'Penelope Allen']", "['Heist', 'True Crime', 'Biography', 'Crime', 'Drama', 'Thriller']", "['United States']", "['285 Prospect Park West, Brooklyn, New York City, New York, USA']", "['Warner Bros.', 'Artists Entertainment Complex']", "['English']", 0, 20, 0), ('tt0073692', 'Shampoo', 'https://www.imdb.com/title/tt0073692', 1975, '1h 50m', 'R', 6.4, '15K', 4000000.0, 49407734.0, 49407734.0, None, "['Hal Ashby']", "['Robert Towne', 'Warren Beatty']", "['Warren Beatty', 'Julie Christie', 'Goldie Hawn']", "['Satire', 'Comedy', 'Drama']", "['United States']", "['2270 Bowmont Drive, Beverly Hills, California, USA']", "['Persky-Bright / Vista', 'Columbia Pictures', 'Rubeeker Films']", "['English']", 0, 11, 0)]

In [ ]:
dados_df = conexao.execute(query).fetchdf()
print(dados_df)

          id                            Title  \
0  tt0073195                             Jaws
1  tt0073629    The Rocky Horror Picture Show
2  tt0073486  One Flew Over the Cuckoo's Nest
3  tt0072890                Dog Day Afternoon
4  tt0073692                          Shampoo

                             Movie Link  Year Duration MPA  Rating Votes  \
0  https://www.imdb.com/title/tt0073195  1975    2h 4m  PG     8.1  683K
1  https://www.imdb.com/title/tt0073629  1975   1h 40m   R     7.4  173K
2  https://www.imdb.com/title/tt0073486  1975   2h 13m   R     8.7  1.1M
3  https://www.imdb.com/title/tt0072890  1975    2h 5m   R     8.0  279K
4  https://www.imdb.com/title/tt0073692  1975   1h 50m   R     6.4   15K

      budget  grossWorldWide  ...  \
0  7000000.0     477220580.0  ...
1  1200000.0     115798478.0  ...
2  3000000.0     109115366.0  ...
3  1800000.0      50002721.0  ...
4  4000000.0      49407734.0  ...

                                           writers  \
0              ['Peter Benchley', 'Carl Gottlieb']
1               ["Richard O'Brien", 'Jim Sharman']
2   ['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']
3  ['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']
4                ['Robert Towne', 'Warren Beatty']

                                               stars  \
0  ['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...
1  ['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']
2  ['Jack Nicholson', 'Louise Fletcher', 'Michael...
3     ['Al Pacino', 'John Cazale', 'Penelope Allen']
4  ['Warren Beatty', 'Julie Christie', 'Goldie Ha...

                                              genres  \
0  ['Monster Horror', 'Sea Adventure', 'Survival'...
1  ['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...
2  ['Medical Drama', 'Psychological Drama', 'Drama']
3  ['Heist', 'True Crime', 'Biography', 'Crime', ...
4                      ['Satire', 'Comedy', 'Drama']

                      countries_origin  \
0                    ['United States']
1  ['United Kingdom', 'United States']
2                    ['United States']
3                    ['United States']
4                    ['United States']

                                   filming_locations  \
0  ["Water Street, Edgartown, Martha's Vineyard, ...
1  ['Oakley Court, Windsor Road, Oakley Green, Wi...
2  ['Oregon State Mental Hospital - 2600 Center S...
3  ['285 Prospect Park West, Brooklyn, New York C...
4  ['2270 Bowmont Drive, Beverly Hills, Californi...

                                production_companies    Languages wins  \
0  ['Zanuck/Brown Productions', 'Universal Pictur...  ['English']    0
1  ['Twentieth Century Fox', 'Michael White Produ...  ['English']    0
2                   ['Fantasy Films', 'N.V. Zvaluw']  ['English']    0
3  ['Warner Bros.', 'Artists Entertainment Complex']  ['English']    0
4  ['Persky-Bright / Vista', 'Columbia Pictures',...  ['English']    0

  nominations oscars
0          20      0
1           4      0
2          15      0
3          20      0
4          11      0

[5 rows x 23 columns]

In [ ]:
dados_one = conexao.execute(query).fetchone()
print(dados_one)

('tt0073195', 'Jaws', 'https://www.imdb.com/title/tt0073195', 1975, '2h 4m', 'PG', 8.1, '683K', 7000000.0, 477220580.0, 266567580.0, 7061513.0, "['Steven Spielberg']", "['Peter Benchley', 'Carl Gottlieb']", "['Roy Scheider', 'Robert Shaw', 'Richard Dreyfuss']", "['Monster Horror', 'Sea Adventure', 'Survival', 'Adventure', 'Drama', 'Horror', 'Thriller']", "['United States']", '["Water Street, Edgartown, Martha\'s Vineyard, Massachusetts, USA"]', "['Zanuck/Brown Productions', 'Universal Pictures']", "['English']", 0, 20, 0)

In [42]:
for dado in dados:
    print(dado)

('tt0073195', 'Jaws', 'https://www.imdb.com/title/tt0073195', 1975, '2h 4m', 'PG', 8.1, '683K', 7000000.0, 477220580.0, 266567580.0, 7061513.0, "['Steven Spielberg']", "['Peter Benchley', 'Carl Gottlieb']", "['Roy Scheider', 'Robert Shaw', 'Richard Dreyfuss']", "['Monster Horror', 'Sea Adventure', 'Survival', 'Adventure', 'Drama', 'Horror', 'Thriller']", "['United States']", '["Water Street, Edgartown, Martha\'s Vineyard, Massachusetts, USA"]', "['Zanuck/Brown Productions', 'Universal Pictures']", "['English']", 0, 20, 0)
('tt0073629', 'The Rocky Horror Picture Show', 'https://www.imdb.com/title/tt0073629', 1975, '1h 40m', 'R', 7.4, '173K', 1200000.0, 115798478.0, 112892319.0, None, "['Jim Sharman']", '["Richard O\'Brien", \'Jim Sharman\']', "['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']", "['Dark Comedy', 'Raunchy Comedy', 'Rock Musical', 'Supernatural Horror', 'Comedy', 'Horror', 'Musical']", "['United Kingdom', 'United States']", "['Oakley Court, Windsor Road, Oakley Green, Windsor, Berkshire, England, UK']", "['Twentieth Century Fox', 'Michael White Productions']", "['English']", 0, 4, 0)
('tt0073486', "One Flew Over the Cuckoo's Nest", 'https://www.imdb.com/title/tt0073486', 1975, '2h 13m', 'R', 8.7, '1.1M', 3000000.0, 109115366.0, 108981275.0, None, "['Milos Forman']", "['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']", "['Jack Nicholson', 'Louise Fletcher', 'Michael Berryman']", "['Medical Drama', 'Psychological Drama', 'Drama']", "['United States']", "['Oregon State Mental Hospital - 2600 Center Street NE, Salem, Oregon, USA']", "['Fantasy Films', 'N.V. Zvaluw']", "['English']", 0, 15, 0)
('tt0072890', 'Dog Day Afternoon', 'https://www.imdb.com/title/tt0072890', 1975, '2h 5m', 'R', 8.0, '279K', 1800000.0, 50002721.0, 50000000.0, None, "['Sidney Lumet']", "['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']", "['Al Pacino', 'John Cazale', 'Penelope Allen']", "['Heist', 'True Crime', 'Biography', 'Crime', 'Drama', 'Thriller']", "['United States']", "['285 Prospect Park West, Brooklyn, New York City, New York, USA']", "['Warner Bros.', 'Artists Entertainment Complex']", "['English']", 0, 20, 0)
('tt0073692', 'Shampoo', 'https://www.imdb.com/title/tt0073692', 1975, '1h 50m', 'R', 6.4, '15K', 4000000.0, 49407734.0, 49407734.0, None, "['Hal Ashby']", "['Robert Towne', 'Warren Beatty']", "['Warren Beatty', 'Julie Christie', 'Goldie Hawn']", "['Satire', 'Comedy', 'Drama']", "['United States']", "['2270 Bowmont Drive, Beverly Hills, California, USA']", "['Persky-Bright / Vista', 'Columbia Pictures', 'Rubeeker Films']", "['English']", 0, 11, 0)

In [43]:
dados_df

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0
1,tt0073629,The Rocky Horror Picture Show,https://www.imdb.com/title/tt0073629,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,...,"[""Richard O'Brien"", 'Jim Sharman']","['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']","['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']","['Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...",['English'],0,4,0
2,tt0073486,One Flew Over the Cuckoo's Nest,https://www.imdb.com/title/tt0073486,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,...,"['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']","['Jack Nicholson', 'Louise Fletcher', 'Michael...","['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']",['English'],0,15,0
3,tt0072890,Dog Day Afternoon,https://www.imdb.com/title/tt0072890,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,...,"['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']","['Al Pacino', 'John Cazale', 'Penelope Allen']","['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']",['English'],0,20,0
4,tt0073692,Shampoo,https://www.imdb.com/title/tt0073692,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,...,"['Robert Towne', 'Warren Beatty']","['Warren Beatty', 'Julie Christie', 'Goldie Ha...","['Satire', 'Comedy', 'Drama']",['United States'],"['2270 Bowmont Drive, Beverly Hills, Californi...","['Persky-Bright / Vista', 'Columbia Pictures',...",['English'],0,11,0

In [ ]:
# 5 primeiras linhas
dados_df.head()

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0
1,tt0073629,The Rocky Horror Picture Show,https://www.imdb.com/title/tt0073629,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,...,"[""Richard O'Brien"", 'Jim Sharman']","['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']","['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']","['Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...",['English'],0,4,0
2,tt0073486,One Flew Over the Cuckoo's Nest,https://www.imdb.com/title/tt0073486,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,...,"['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']","['Jack Nicholson', 'Louise Fletcher', 'Michael...","['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']",['English'],0,15,0
3,tt0072890,Dog Day Afternoon,https://www.imdb.com/title/tt0072890,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,...,"['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']","['Al Pacino', 'John Cazale', 'Penelope Allen']","['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']",['English'],0,20,0
4,tt0073692,Shampoo,https://www.imdb.com/title/tt0073692,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,...,"['Robert Towne', 'Warren Beatty']","['Warren Beatty', 'Julie Christie', 'Goldie Ha...","['Satire', 'Comedy', 'Drama']",['United States'],"['2270 Bowmont Drive, Beverly Hills, Californi...","['Persky-Bright / Vista', 'Columbia Pictures',...",['English'],0,11,0

In [47]:
#5 últimas linhas
dados_df.tail()

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
0,tt0073195,Jaws,https://www.imdb.com/title/tt0073195,1975,2h 4m,PG,8.1,683K,7000000.0,477220580.0,...,"['Peter Benchley', 'Carl Gottlieb']","['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...","['Monster Horror', 'Sea Adventure', 'Survival'...",['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...",['English'],0,20,0
1,tt0073629,The Rocky Horror Picture Show,https://www.imdb.com/title/tt0073629,1975,1h 40m,R,7.4,173K,1200000.0,115798478.0,...,"[""Richard O'Brien"", 'Jim Sharman']","['Tim Curry', 'Susan Sarandon', 'Barry Bostwick']","['Dark Comedy', 'Raunchy Comedy', 'Rock Musica...","['United Kingdom', 'United States']","['Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...",['English'],0,4,0
2,tt0073486,One Flew Over the Cuckoo's Nest,https://www.imdb.com/title/tt0073486,1975,2h 13m,R,8.7,1.1M,3000000.0,109115366.0,...,"['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']","['Jack Nicholson', 'Louise Fletcher', 'Michael...","['Medical Drama', 'Psychological Drama', 'Drama']",['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']",['English'],0,15,0
3,tt0072890,Dog Day Afternoon,https://www.imdb.com/title/tt0072890,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,...,"['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']","['Al Pacino', 'John Cazale', 'Penelope Allen']","['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']",['English'],0,20,0
4,tt0073692,Shampoo,https://www.imdb.com/title/tt0073692,1975,1h 50m,R,6.4,15K,4000000.0,49407734.0,...,"['Robert Towne', 'Warren Beatty']","['Warren Beatty', 'Julie Christie', 'Goldie Ha...","['Satire', 'Comedy', 'Drama']",['United States'],"['2270 Bowmont Drive, Beverly Hills, Californi...","['Persky-Bright / Vista', 'Columbia Pictures',...",['English'],0,11,0

In [26]:
# descrição dos dados
dados_df.describe()

,Year,Rating,budget,grossWorldWide,gross_US_Canada,opening_weekend_Gross,wins,nominations,oscars
count,5.0,5.000000,5.000000e+00,5.000000e+00,5.000000e+00,1.0,5.0,5.000000,5.0
mean,1975.0,7.720000,3.400000e+06,1.603090e+08,1.175698e+08,7061513.0,0.0,14.000000,0.0
std,0.0,0.870057,2.284732e+06,1.799316e+08,8.875208e+07,NaN,0.0,6.745369,0.0
min,1975.0,6.400000,1.200000e+06,4.940773e+07,4.940773e+07,7061513.0,0.0,4.000000,0.0
25%,1975.0,7.400000,1.800000e+06,5.000272e+07,5.000000e+07,7061513.0,0.0,11.000000,0.0
50%,1975.0,8.000000,3.000000e+06,1.091154e+08,1.089813e+08,7061513.0,0.0,15.000000,0.0
75%,1975.0,8.100000,4.000000e+06,1.157985e+08,1.128923e+08,7061513.0,0.0,20.000000,0.0
max,1975.0,8.700000,7.000000e+06,4.772206e+08,2.665676e+08,7061513.0,0.0,20.000000,0.0

In [27]:
# informações sobre os dados
dados_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     5 non-null      object
 1   Title                  5 non-null      object
 2   Movie Link             5 non-null      object
 3   Year                   5 non-null      int64
 4   Duration               5 non-null      object
 5   MPA                    5 non-null      object
 6   Rating                 5 non-null      float64
 7   Votes                  5 non-null      object
 8   budget                 5 non-null      float64
 9   grossWorldWide         5 non-null      float64
 10  gross_US_Canada        5 non-null      float64
 11  opening_weekend_Gross  1 non-null      float64
 12  directors              5 non-null      object
 13  writers                5 non-null      object
 14  stars                  5 non-null      object
 15  genres                 5 non-null      object
 16  countries_origin       5 non-null      object
 17  filming_locations      5 non-null      object
 18  production_companies   5 non-null      object
 19  Languages              5 non-null      object
 20  wins                   5 non-null      int64
 21  nominations            5 non-null      int64
 22  oscars                 5 non-null      int64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.0+ KB

In [28]:
# nome das colunas
dados_df.columns

Index(['id', 'Title', 'Movie Link', 'Year', 'Duration', 'MPA', 'Rating',
       'Votes', 'budget', 'grossWorldWide', 'gross_US_Canada',
       'opening_weekend_Gross', 'directors', 'writers', 'stars', 'genres',
       'countries_origin', 'filming_locations', 'production_companies',
       'Languages', 'wins', 'nominations', 'oscars'],
      dtype='object')

In [29]:
# quantidade de linhas e colunas
dados_df.shape

(5, 23)

In [ ]:
#Filtrando dados
# SELECT * FROM filmes_imdb WHERE Votes = '279K';
dados_df_filtrado = dados_df[dados_df['Votes'] == '279K']
dados_df_filtrado

,id,Title,Movie Link,Year,Duration,MPA,Rating,Votes,budget,grossWorldWide,...,writers,stars,genres,countries_origin,filming_locations,production_companies,Languages,wins,nominations,oscars
3,tt0072890,Dog Day Afternoon,https://www.imdb.com/title/tt0072890,1975,2h 5m,R,8.0,279K,1800000.0,50002721.0,...,"['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']","['Al Pacino', 'John Cazale', 'Penelope Allen']","['Heist', 'True Crime', 'Biography', 'Crime', ...",['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']",['English'],0,20,0

In [32]:
# Adicionando uma nova coluna
dados_df['NovaColuna'] = 'NOVO'

In [ ]:
# quantidade de linhas e colunas
dados_df.shape

(5, 24)

In [40]:
# Removendo uma coluna
dados_df.drop('NovaColuna', axis=1, inplace=True)

In [41]:
# quantidade de linhas e colunas
dados_df.shape

(5, 23)

# Consultas do arquivo query.sql

### Consultar filmes genero drama

In [1]:
query = "SELECT * FROM filmes_imdb WHERE genres LIKE '%Drama%'"
dados_df_drama = conexao.execute(query).fetchdf()
df_drama.head()

NameError: name 'conexao' is not defined

In [ ]:

# -- Consultar filmes ano 2024
# SELECT * FROM filmes_imdb fi
# WHERE "Year" = 2024

# -- Consultar filmes com buget maior que 5000000
# SELECT * FROM filmes_imdb WHERE budget > 5000000;

# -- Consultar filmes com ator vin diesel
# SELECT * FROM filmes_imdb
# WHERE stars like "%'vin diesel'%";

# -- pesquisar apenas filmes com origem no Canadá:
# select * from filmes_imdb fi
# where countries_origin LIKE '%Canada%'

# -- pesquisar apenas filmes em inglês:
# select * from filmes_imdb fi
# where Languages like '%English%'

# -- Consultar filmes com duração superior a 2 horas
# SELECT * FROM filmes_imdb fi
# WHERE Duration > 2

# -- Consultar filmes que tiveram uma nota maior que 6
# SELECT * FROM filmes_imdb fi
# WHERE Rating > 6

# SELECT * FROM filmes_imdb fi
# WHERE year = 2024
# AND Duration  = '2h 40m'

# -- Consultar filmes produzidos pela Disney
# SELECT * FROM filmes_imdb2 fi
# WHERE production_companies LIKE '%Walt Disney Pictures%'

# -- consultar filmes a partir de 2020
# SELECT * FROM filmes_imdb fi
# WHERE year >= 2020

# -- consultar filmes a partir entre 2020 e 2024
# SELECT * FROM filmes_imdb fi
# WHERE "Year" BETWEEN 2020 AND 2024

# -- consultar filmes na lista de anos 2020,2021,2022,2023 e 2024
# SELECT * FROM filmes_imdb fi
# WHERE "Year" IN(2020,2021,2022,2023,2024)

# SELECT * from filmes_imdb fi
# where production_companies like '%Universal Pictures%'
# and countries_origin like '%United States%'

# SELECT Title,"Year", Languages,Rating
# FROM filmes_imdb fi
# WHERE "Year" IN(2020,2021,2022,2023,2024)
# ORDER BY Rating


# -- AS
# -- ASC

# SELECT
# 	"Year",
# 	count(*) quantidade,
# 	sum(Rating) total_rating,
# 	avg(Rating) media_rating,
# 	ROUND(avg(Rating),2) media_formata
# FROM filmes_imdb fi
# WHERE "Year" IN(2020,2021,2022,2023,2024)
# GROUP BY "Year"

# SELECT
# 	"Year",
# 	count(*) quantidade,
# 	sum(Rating) total_rating,
# 	avg(Rating) media_rating,
# 	ROUND(avg(Rating),2) media_formata
# FROM filmes_imdb fi
# WHERE "Year" NOT IN(2020,2021,2022,2023,2024)
# GROUP BY "Year"

# SELECT
# 	budget,
# 	grossWorldWide,
# 	gross_US_Canada,
# 	(grossWorldWide + gross_US_Canada)  gross,
# 	ROUND( grossWorldWide / budget,2) as tickt
# FROM filmes_imdb fi

# SELECT
# 	UPPER(title) maiusculo,
# 	LOWER(title) minusculo
# FROM filmes_imdb fi

# SELECT * FROM filmes_imdb
# WHERE writers LIKE '%Varda%'

# SELECT * FROM writers

# UPDATE filmes_imdb
# SET writers = REPLACE(writers,'è','e')

# WHERE title LIKE "%\'%"
# -- Consultar filmes brasileiros lançados
# -- nos anos que teve Copa do Mundo
# SELECT * FROM filmes_imdb fi
# WHERE "Year" IN (
# 	SELECT DISTINCT YEAR
# 	FROM filmes_imdb
# 	WHERE ((YEAR+2)%4) = 0 --
# 	)
# AND countries_origin LIKE '%Brazil%'


# -- SQLIte NÃO FUNCIONA
# CREATE TABLE filmes
# SELECT
# 	ID,Title, "Movie Link", Year, Duration, MPA, Rating, Votes
# FROM filmes_imdb fi





# -- filmes definition
# CREATE TABLE filmes (
# 	id VARCHAR(50),
# 	Title VARCHAR(64),
# 	"Movie Link" VARCHAR(50),
# 	"Year" INTEGER,
# 	Duration VARCHAR(50),
# 	MPA VARCHAR(50),
# 	Rating REAL,
# 	Votes VARCHAR(50)
# );

# /*
# INSERT INTO filmes
# (lista de colunas, coluna1, coluna2)
# VALUES
# (lista de dados, valor2, valor2)
# */

# INSERT INTO filmes
# SELECT
# 	ID,UPPER(Title), "Movie Link", Year, Duration, MPA, Rating, Votes
# FROM filmes_imdb fi

# -- CUIDADO COM DELETE SEM WHERE
# DELETE FROM filmes

# -- SQLite não tem TRUNCATE
# -- truncate é mais rápido que deletar tudo
# TRUNCATE TABLE filmes

# -- filmes_imdb definition

# CREATE TABLE stars (
# 	id INTEGER,
# 	stars VARCHAR(128)
# );

# CREATE TABLE genres (
# 	id INTEGER,
# 	genres VARCHAR(256)
# );



# INSERT INTO stars
# SELECT
# rowid ,
# stars
# FROM filmes_imdb

# INSERT INTO genres
# SELECT
# rowid,
# genres
# FROM filmes_imdb fi


# SELECT
# 	fi.id,
# 	fi.stars,
# 	fi.genres,
# 	g.id,
# 	s.id
# FROM filmes_imdb fi
# INNER JOIN genres g ON fi.genres = g.genres
# INNER JOIN stars s ON fi.stars = s.stars

# filmes_genres
# filmes_stars

# SELECT
# 	fi.id,
# 	fi.stars,
# 	fi.genres,
# 	g.id,
# 	s.id
# FROM filmes_imdb fi
# INNER JOIN genres g ON fi.genres = g.genres
# INNER JOIN stars s ON fi.stars = s.stars

# CREATE TABLE filmes_genres(
# 	idfilmes VARCHAR(50),
# 	idgeners INTEGER
# );

# CREATE TABLE filmes_stars(
# 	idfilmes VARCHAR(50),
# 	idstars INTEGER
# );

# INSERT INTO filmes_genres
# SELECT
# 	DISTINCT
# 	fi.id,
# 	g.id
# FROM filmes_imdb fi
# INNER JOIN genres g ON fi.genres = g.genres



# INSERT INTO filmes_stars
# SELECT
# 	DISTINCT
# 	fi.id,
# 	s.id
# FROM filmes_imdb fi
# INNER JOIN stars s ON fi.stars = s.stars



# SELECT
# f.*,
# s.*



# x.rowid
# -- filmes_imdb definition

# CREATE TABLE filmes_imdb (
# 	id VARCHAR(50),
# 	Title VARCHAR(64),
# 	"Movie Link" VARCHAR(50),
# 	"Year" INTEGER,
# 	Duration VARCHAR(50),
# 	MPA VARCHAR(50),
# 	Rating REAL,
# 	Votes VARCHAR(50),
# 	budget REAL,
# 	grossWorldWide REAL,
# 	gross_US_Canada REAL,
# 	opening_weekend_Gross REAL,
# 	directors VARCHAR(64),
# 	writers VARCHAR(64),
# 	stars VARCHAR(128),
# 	genres VARCHAR(256),
# 	countries_origin VARCHAR(50),
# 	filming_locations VARCHAR(128),
# 	production_companies VARCHAR(128),
# 	Languages VARCHAR(64),
# 	wins INTEGER,
# 	nominations INTEGER,
# 	oscars INTEGER
# );


# SELECT
# DISTINCT genres
# FROM filmes_imdb
# WHERE genres IS NOT NULL
# AND genres <> "['Drama', 'Romance']"


# SQL ->
# 	pl/sql
# 	t-sql
# 	pg-sql
# 	sql


# /*
# Detalhes básicos do filme: título, ano, duração, classificação MPA, classificação IMDb, votos.
# Dados financeiros: Orçamento, bruto global, bruto dos EUA/Canadá, ganhos do fim de semana de abertura.
# Créditos: Diretores, roteiristas, estrelas.
# Detalhes adicionais: gêneros, países, locais de filmagem, produtoras, idiomas.
# Prêmios: Vitórias, indicações, indicações ao Oscar.
# */

In [ ]:
# Fechar a conexão
# conexao.close()

print("Dados importados com sucesso para o banco de dados SQLite.")

Dados importados com sucesso para o banco de dados SQLite.